* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
}
.container {
  width: 825px;
  margin: 50px auto;
}
article {
  border: 5px solid black;
  position: relative;
}
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
}
.price {
  font-size: 24px;
}
.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
}
.product-description {
  margin-bottom: 10px;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.product-details {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.product-list {
  list-style: square;
  margin-left: 18px;
}
.product-list li {
  margin-bottom: 8px;
}

.add-to-cart {
  border: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-top: 5px solid black;
}
.add-to-cart:hover,
.add-to-cart:active {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
}
.sale {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  color: #fff;
  position: absolute;
  top: -18px;
  left: -30px;
  padding: 6px 18px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.color-boxes {
  margin-top: 28px;
}
.box {
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 12px;
}
.box-1 {
  background-color: #000;
}
.box-2 {
  background-color: rgb(0, 0, 255, 0.9);
}
.box-3 {
  background-color: rgb(255, 0, 0, 0.9);
}
.box-4 {
  background-color: rgb(255, 255, 0, 0.9);
}
.box-5 {
  background-color: rgb(0, 128, 0, 0.9);
}
.box-6 {
  background-color: rgb(165, 42, 42, 3);
  margin-right: 0;
}
/* Lecture - 43 ✅ */
